---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/monitoring.coreos.com/podmonitor_v1.json
apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  name: goldpinger
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: goldpinger
  podMetricsEndpoints:
    - port: http
      path: /metrics
      interval: 30s
      honorLabels: true
