---
apiVersion: v1
kind: Service
metadata:
  name: goldpinger
  labels:
    app.kubernetes.io/name: goldpinger
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 8080
      name: http
  selector:
    app.kubernetes.io/name: goldpinger
