---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: qbittorrent
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn:
    - name: rook-ceph-cluster
      namespace: storage
  # NOTE: More info on this Helm chart here: https://bjw-s.github.io/helm-charts/docs/common-library/
  values:
    controllers:
      qbittorrent:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/qbittorrent
              tag: 5.1.4@sha256:56ecd30a7f5e1357daf5eea2a6935134d329b7b268a3a9b9c67041b65fb87fc6
            env:
              TZ: America/New_York
              QBITTORRENT__PORT: &port 8080
              QBITTORRENT__BT_PORT: &bittorrentPort 50413
              QBT_Application__MemoryWorkingSetLimit:
                valueFrom:
                  resourceFieldRef:
                    containerName: app
                    resource: limits.memory
                    divisor: 1Mi
              QBT_Preferences__WebUI__AlternativeUIEnabled: "false"
              QBT_Preferences__WebUI__LocalHostAuth: "false"
              QBT_Preferences__WebUI__UseUPnP: "false"
              QBT_Preferences__WebUI__Username: "admin"
              QBT_Preferences__WebUI__Password_PBKDF2: "@ByteArray(ARQ77eY1NUZaQsuDHbIMCA==:0WMRkYTUWVT9wVvdDtHAjU9b3b7uB8NR1Gur2hmQCvCDpm39Q+PsJRJPaCU51dEiz+dTzh8qbPsL8WkFljQYFQ==)"
              QBT_BitTorrent__Session__DefaultSavePath: "/data/downloads"
              QBT_BitTorrent__Session__MaxActiveDownloads: 50
              QBT_BitTorrent__Session__MaxActiveTorrents: 10000
              QBT_BitTorrent__Session__MaxActiveUploads: 50
              QBT_AutoRun__enabled: "true"
              # The configparser module in Python uses the percent sign (%) for string interpolation, so it's interpreting the %N, %L, etc. in your string as interpolation directives.
              # To fix this, you need to escape the percent signs by doubling them (%%).
              QBT_AutoRun__program: '/custom-scripts/post_download.sh \"%%N\" \"%%L\" \"%%G\" \"%%F\" \"%%R\" \"%%D\" \"%%C\" \"%%Z\" \"%%T\" \"%%I\" \"%%J\" \"%%K\"'
              RED_API_KEY:
                valueFrom:
                  secretKeyRef:
                    name: tracker-api-keys
                    key: RED_API_KEY
              OPS_API_KEY:
                valueFrom:
                  secretKeyRef:
                    name: tracker-api-keys
                    key: OPS_API_KEY
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
            resources:
              requests:
                cpu: 100m
              limits:
                memory: 12Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: false
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 0
    service:
      app:
        controller: qbittorrent
        forceRename: qbittorrent
        ports:
          http:
            port: *port
      bittorrent:
        controller: qbittorrent
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: 192.168.8.128
        ports:
          bittorrent-tcp:
            port: *bittorrentPort
            protocol: TCP
          bittorrent-udp:
            port: *bittorrentPort
            protocol: UDP
    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Torrent downloader (admin:adminadmin)
          gethomepage.dev/group: Torrents
          gethomepage.dev/icon: qbittorrent
          gethomepage.dev/name: qBittorrent
          gethomepage.dev/widget.type: "qbittorrent"
          gethomepage.dev/widget.url: "http://qbittorrent.media.svc.cluster.local:8080"
          gethomepage.dev/widget.username: "admin"
          gethomepage.dev/widget.password: "adminadmin"
        hostnames:
          - "qb.drmoo.io"
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    persistence:
      media:
        type: nfs
        server: 192.168.8.248
        path: /mnt/vault/media
        globalMounts:
          - path: /data
      custom-scripts:
        enabled: true
        type: configMap
        defaultMode: 0777
        name: post-download-scripts
      config:
        existingClaim: qbittorrent
        globalMounts:
          - path: /config
      qbrr:
        type: image
        image: ghcr.io/buroa/qbrr:0.1.2@sha256:f930dbb4de49ffe3348d1d4f8187ce27590842bc4d6a89c3aa84234d7e99f46b
