---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app bitwarden
spec:
  interval: 5m
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      bitwarden:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/roxedus/bw
              tag: 2025.6.0@sha256:f4b24e730bfe1d0162b9d204072e056d067562d5b3b952b99cf69e74ab6ce14a
            envFrom:
              - secretRef:
                  name: bitwarden-apikey
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  exec:
                    command: ["sh", "-c", "curl -X POST -s http://127.0.0.1:8087/sync | jq -e '.success == true'"]
                  timeoutSeconds: 5
              readiness:
                enabled: false
              startup:
                enabled: false
            resources:
              requests:
                memory: 256Mi
                cpu: 100m
              limits:
                memory: 512Mi
    service:
      app:
        controller: *app
        ports:
          http:
            port: 8087
