---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: observability
resources:
  - ./grafana.yaml
  - ./grafana-datasources.yaml
  - ./httproute.yaml
  - ./servic-emonitor.yaml
