---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: betanin
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  uninstall:
    keepHistory: false
  dependsOn:
    - name: qbittorrent
      namespace: media
  values:
    controllers:
      betanin:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/profmoo/betanin
              tag: latest@sha256:334ff437b1e4f0995cf979d5f98f6a1ac93e00ab77a9930017c5dee6f9b405dc
            env:
              UID: 0
              GUID: 0
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            command:
              - "betanin"
            resources:
              requests:
                cpu: 200m
                memory: 2Gi
              limits:
                memory: 4Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: false
        runAsUser: 0
        runAsGroup: 0
        fsGroupChangePolicy: OnRootMismatch
        fsGroup: 0
    service:
      app:
        controller: betanin
        ports:
          http:
            port: &port 9393
    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Music tagging (user:pass)
          gethomepage.dev/group: Torrents
          gethomepage.dev/icon: betanin
          gethomepage.dev/name: Betanin
        hostnames:
          - "betanin.drmoo.io"
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    persistence:
      media:
        type: nfs
        server: 192.168.8.248
        path: /mnt/vault/media
        globalMounts:
          - path: /data
      scripts:
        enabled: true
        type: configMap
        defaultMode: 0777
        name: helpful-scripts
      # These configs need to mounted as specific locations:
      # https://github.com/sentriz/betanin/blob/master/docker-entry
      # NOTE: This config is the complex config.yaml that defines beets behavior.
      beets-config:
        type: configMap
        name: beets-config
        globalMounts:
          - path: /b/.config/beets/
      # NOTE: This config is the simple config.toml that defines betanin behavior.
      betanin-config:
        type: configMap
        name: betanin-config
        globalMounts:
          - path: /b/.config/betanin/
      # NOTE: This data is the larger beets DB which keeps information about the entire music library.
      # It is extremely important and can't be lost. The mount location for this is determined the configuration in config.yaml
      beets:
        existingClaim: beets-blockstorage
        globalMounts:
          - path: /beets/
      # NOTE: This data is the smaller betanin DB which keeps information about the individual imports.
      # i.e. When each individual import was done, what files were imported, etc.
      # This populates the betanin GUI.
      data:
        existingClaim: betanin-blockstorage
        globalMounts:
          - path: /b/.local/share/betanin/
