---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: logging-operator
spec:
  interval: 15m
  chartRef:
    kind: OCIRepository
    name: logging-operator
  maxHistory: 3
  uninstall:
    keepHistory: false
  # NOTE: Example here: https://github.com/kube-logging/logging-operator/blob/master/charts/logging-operator/values.yaml
  values:
    monitoring:
      serviceMonitor:
        enabled: true
    logging:
      enabled: true
      enableRecreateWorkloadOnImmutableFieldChange: true
      clusterFlows:
        - name: all
          spec:
            match:
              - select: {}
            globalOutputRefs: ["loki"]
      clusterOutputs:
        # NOTE: This name needs to match the globalOutputRefs in the clusterFlows above
        - name: loki
          spec:
            loki:
              url: http://loki:3100
              configure_kubernetes_labels: true
              buffer:
                flush_thread_count: 4
                total_limit_size: 10GB
                timekey: 1m
                timekey_wait: 30s
                timekey_use_utc: true
      # NOTE: Docs are here: https://kube-logging.dev/docs/configuration/extensions/kubernetes-event-tailer/
      eventTailer:
        name: event-tailer
        pvc:
          accessModes:
            - ReadWriteOnce
          volumeMode: Filesystem
          storage: 2Gi
          storageClassName: local-hostpath
      fluentbit:
        metrics:
          serviceMonitor: true
        resources:
          requests:
            cpu: 500m
            memory: 500M
          limits:
            cpu: 1
            memory: 1Gi
      fluentd:
        metrics:
          serviceMonitor: true
        scaling:
          replicas: 3
        resources:
          requests:
            cpu: 500m
            memory: 1Gi
          limits:
            cpu: 2
            memory: 2Gi
        bufferStorageVolume:
          pvc:
            spec:
              accessModes:
                - ReadWriteOnce
              resources:
                requests:
                  storage: 20Gi
              storageClassName: ceph-block-ephemeral
