---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: immich-db
spec:
  refreshInterval: "0"
  target:
    name: immich-db
    template:
      data:
        DB_HOSTNAME: &dbHost pg18vc-rw.database.svc.cluster.local
        DB_DATABASE_NAME: &dbName immich
        DB_PASSWORD: &dbPass "{{ .DB_PASSWORD }}"
        DB_USERNAME: &dbUser immich
        # --
        INIT_POSTGRES_DBNAME: *dbName
        INIT_POSTGRES_HOST: *dbHost
        INIT_POSTGRES_PASS: *dbPass
        INIT_POSTGRES_USER: *dbUser
  dataFrom:
    - sourceRef:
        generatorRef:
          apiVersion: generators.external-secrets.io/v1alpha1
          kind: Password
          name: password32
      rewrite:
        - regexp:
            source: "password"
            target: "DB_PASSWORD"
