---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: zwave
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      zwave:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/zwave-js/zwave-js-ui
              tag: 11.8.2@sha256:162877c73580588cbeeb94eaec2bfe68d7c41cacc338e1ed7675a0a4e67e3133
            env:
              TZ: America/New_York
              PORT: &port 80
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 512Mi
    service:
      app:
        controller: zwave
        ports:
          http:
            port: *port
          websocket:
            port: 3000
    route:
      app:
        hostnames:
          - "zwave.drmoo.io"
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
    persistence:
      config:
        existingClaim: zwave-blockstorage
        globalMounts:
          - path: /usr/src/app/store
      config-cache:
        existingClaim: zwave-cache-blockstorage
        globalMounts:
          - path: /usr/src/app/store/.config-db
      tmp:
        type: emptyDir
