---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mosquitto
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: mosquitto
  values:
    controllers:
      mosquitto:
        containers:
          app:
            image:
              repository: public.ecr.aws/docker/library/eclipse-mosquitto
              tag: 2.0.22
            env:
              TZ: America/New_York
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 100Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        type: LoadBalancer
        annotations:
          external-dns.alpha.kubernetes.io/hostname: mosquitto.drmoo.io
          gatus.home-operations.com/endpoint: |-
            group: services
          lbipam.cilium.io/ips: 192.168.8.129
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Mosquitto MQTT broker
          gethomepage.dev/group: Home
          gethomepage.dev/icon: mqtt
          gethomepage.dev/name: Mosquitto
        ports:
          http:
            port: 1883
    configMaps:
      config:
        data:
          mosquitto.conf: |-
            allow_anonymous true
            autosave_interval 60
            connection_messages false
            listener 1883
            per_listener_settings false
            persistence true
            persistence_location /config
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}-cache"
      config-file:
        type: configMap
        name: mosquitto
        advancedMounts:
          mosquitto:
            app:
              - path: /mosquitto/config/mosquitto.conf
                subPath: mosquitto.conf
