---
apiVersion: v1
kind: Pod
metadata:
  name: restic-list-{{ ENV.APP }}-local
  namespace: {{ ENV.NS }}
spec:
  restartPolicy: Never
  securityContext:
    runAsNonRoot: true
    runAsUser: 65534
    runAsGroup: 65534
    seccompProfile:
      type: RuntimeDefault
  containers:
  - name: restic
    image: docker.io/restic/restic:latest
    command: ["restic", "snapshots", "--compact"]
    securityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
        - ALL
      readOnlyRootFilesystem: true
    env:
    - name: RESTIC_PASSWORD
      value: {{ ENV.RESTIC_PASSWORD }}
    - name: RESTIC_REPOSITORY
      value: {{ ENV.RESTIC_REPOSITORY }}
    volumeMounts:
    - name: repository
      mountPath: /repository
  volumes:
  - name: repository
    nfs:
      server: 192.168.8.248
      path: /mnt/vault/volsync
