---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app redfish-exporter
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      redfish-exporter:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/freekingdean/redfish_exporter
              tag: v0.1.13@sha256:2f900d91441f315a206e55277f73589237967ebc0b0727cda5d4f5fb415de885
            args:
              - serve
              - --config=/etc/redfish_exporter/config.yaml
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 128Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
      priorityClassName: high-priority
    service:
      app:
        controller: *app
        ports:
          metrics:
            port: 9610
    serviceMonitor:
      app:
        serviceName: *app
        endpoints:
          - interval: 3m
            path: /metrics
            port: metrics
            scheme: http
            scrapeTimeout: 60s
    persistence:
      config:
        type: configMap
        name: redfish-configmap
        globalMounts:
          - path: /etc/redfish_exporter/config.yaml
            subPath: config.yaml
            readOnly: true
