---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/volsync.backube/replicationsource_v1alpha1.json
apiVersion: volsync.backube/v1alpha1
kind: ReplicationSource
metadata:
  name: "${APP}"
spec:
  sourcePVC: "${PVC_NAME}"
  trigger:
    schedule: "${VOLSYNC_SCHEDULE:=0 * * * *}"
  restic:
    copyMethod: Snapshot
    pruneIntervalDays: 14
    repository: "${APP}-volsync-secret"
    volumeSnapshotClassName: csi-ceph-blockpool
    cacheCapacity: "${VOLSYNC_SRC_CACHE_CAPACITY:=2Gi}"
    cacheStorageClassName: ceph-block
    cacheAccessModes: ["ReadWriteOnce"]
    storageClassName: ceph-block
    accessModes: ["ReadWriteOnce"]
    moverSecurityContext:
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 1000
    # NOTE: For CronJobs and other intermittent workloads, this template doesn't use pod affinity
    # since the target pods aren't always running. Instead, it relies on Ceph's ability to
    # mount the PVC on any available node. You can optionally add nodeAffinity if needed.
    moverAffinity:
      nodeAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            preference:
              matchExpressions:
                - key: kubernetes.io/hostname
                  operator: NotIn
                  values:
                    - "${VOLSYNC_EXCLUDE_NODE:=none}"
    retain:
      hourly: 24
      daily: 7
      weekly: 4
      monthly: 12
