---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: home-assistant
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn:
    - name: rook-ceph-cluster
      namespace: storage
  values:
    controllers:
      home-assistant:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/home-assistant
              tag: 2026.2.1@sha256:79f5a2e8d0aa2b8a7dcfbc4fe7e0930321248724bce219d97acf9f5ce7ff854b
            env:
              TZ: America/New_York
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 2Gi
          code-server:
            image:
              repository: ghcr.io/coder/code-server
              tag: 4.108.2@sha256:31ad23cda720476e7eb3371a9b02fd7a5738843f6ef43beef97e9edf1960fc47
            args: ["--auth", "none", "--user-data-dir", "/config/.vscode", "--extensions-dir", "/config/.vscode", "--port", "12321", "/config"]
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 512Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: {type: RuntimeDefault}
    service:
      app:
        controller: home-assistant
        ports:
          http:
            port: 8123
          code-server:
            port: 12321
    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Home Assistant
          gethomepage.dev/group: Home
          gethomepage.dev/app: home-assistant
          gethomepage.dev/icon: home-assistant
          gethomepage.dev/name: Home Assistant
          gethomepage.dev/instance: homepage-internal
          gethomepage.dev/widget.type: "homeassistant"
          gethomepage.dev/widget.url: "http://home-assistant.home-automation.svc.cluster.local:8123"
          gethomepage.dev/widget.key: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJjNDE5MWY1ODY0ZjA0NTRmYjgxYzNiMTM3NjU4NjI1OCIsImlhdCI6MTc1NzE5MTA4NSwiZXhwIjoyMDcyNTUxMDg1fQ.PAFiFMVzkBy1oZiIqRsgr5dCG4a_TelEo2z5U8BpeIQ"
        hostnames:
          - "hass.drmoo.io"
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
      code-server:
        hostnames:
          - "hass-code.drmoo.io"
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
    persistence:
      config:
        existingClaim: home-assistant-blockstorage
        globalMounts:
          - path: /config
      logs:
        type: emptyDir
        globalMounts:
          - path: /config/logs
      tts:
        type: emptyDir
        globalMounts:
          - path: /config/tts
      tmp:
        type: emptyDir
        globalMounts:
          - path: /tmp
