---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tqm
spec:
  chartRef:
    kind: OCIRepository
    name: tqm
  interval: 1h
  values:
    controllers:
      tqm:
        type: cronjob
        cronjob:
          schedule: "@hourly"
          timeZone: America/New_York
          concurrencyPolicy: Forbid
          successfulJobsHistory: 1
          failedJobsHistory: 1
        initContainers:
          retag: &container
            image:
              repository: ghcr.io/home-operations/tqm
              tag: 1.19.0@sha256:087ee302bdde9d2033be4026856433b6241a3a11ca9e9f810620abe6a3d99db8
            args:
              - retag
              - qb
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 64Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
        containers:
          clean:
            !!merge <<: *container
            args:
              - clean
              - qb
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        supplementalGroups: [65537]
    persistence:
      config:
        type: emptyDir
        globalMounts:
          - path: /.config/tqm
      config-file:
        type: configMap
        name: "{{ .Release.Name }}-configmap"
        globalMounts:
          - path: /.config/tqm/config.yaml
            subPath: config.yaml
            readOnly: true
      media:
        type: nfs
        server: 192.168.8.248
        path: /mnt/vault/media
        globalMounts:
          - readOnly: true
