---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mc-router
spec:
  chartRef:
    kind: OCIRepository
    name: mc-router
  interval: 15m
  values:
    image:
      repository: ghcr.io/itzg/mc-router
      tag: 1.39.1@sha256:be109433f1a67a6d925d93842018ae4d9dcb37f9df5ef3b246925343782233ab
      pullPolicy: IfNotPresent
    services:
      minecraft:
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: 192.168.8.134
