---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: minecraft-3
spec:
  capacity:
    storage: 50Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  nfs:
    server: "192.168.8.248"
    path: /mnt/vault/container-volumes/minecraft-server-3
  mountOptions:
    - nfsvers=4.2
    - nconnect=8
    - soft # Instead of hard
    - timeo=150 # 15 second timeout
    - retrans=3 # 3 retries before giving up
