---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app sonarr
  namespace: &namespace media
spec:
  targetNamespace: *namespace
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  components:
    - ../../../../common/volsync
  postBuild:
    substitute:
      APP: *app
      PVC_NAME: sonarr-blockstorage
      VOLSYNC_CAPACITY: 10Gi
      VOLSYNC_SCHEDULE: "33 * * * *"
  path: ./kubernetes/homelab/apps/media/sonarr/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: profmoo-home
    namespace: flux-system
  wait: false
  interval: 30m
  retryInterval: 1m
  timeout: 5m
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: sonarr-exporter
  namespace: &namespace media
spec:
  targetNamespace: *namespace
  dependsOn:
    - name: sonarr
      namespace: *namespace
  path: ./kubernetes/homelab/apps/media/sonarr/exporter
  prune: true
  sourceRef:
    kind: GitRepository
    name: profmoo-home
    namespace: flux-system
  wait: false
  interval: 30m
  retryInterval: 1m
  timeout: 5m
