# NOTE: This is the beets commit that mulit-artist support was added
git+https://github.com/beetbox/beets@f72261e44f5501a870c43721883f1e4980003324
requests==2.32.0
python3-discogs-client==2.7
beetcamp==0.17.2
beets-yearfixer==0.0.4
pylast==4.4.0
beets-extrafiles==0.0.7
beets-check==0.13.0
# NOTE: This is my personal fork of beets-originquery which includes support for additional tags
git+https://github.com/ProfMoo/beets-originquery@8a6e604d8fc968b55a0ddc792981317679fb8215
