git+https://github.com/beetbox/beets@f18d97431052b89471a58d30c8fab86520ed6275
requests==2.26
python3-discogs-client==2.7
beetcamp==0.12.0
beets-yearfixer==0.0.4
pylast==4.4.0
beets-extrafiles==0.0.7
beets-check==0.13.0
git+https://github.com/ProfMoo/beets-originquery@cf92c653b01ec4e1b52dbb2291ccbd63f28067d7
