---
web:
  port: ${GATUS_WEB_PORT}
metrics: true
storage:
  type: sqlite
  caching: true
  path: ${GATUS_CONFIG_PATH}/gatus.db
ui:
  title: Status | Gatus
  header: Status
  logo: https://avatars.githubusercontent.com/u/32044819
  link: https://github.com/ProfMoo
  buttons:
    - name: Github
      link: https://github.com/ProfMoo
    - name: Homelab
      link: https://github.com/ProfMoo/home
connectivity:
  checker:
    target: 1.1.1.1:53
    interval: 1m
endpoints:
  - name: flux-webhook
    group: http-check
    url: https://flux-webhook.drmoo.io
    interval: 1m
    client:
      dns-resolver: tcp://1.1.1.1:53
    conditions:
      - "[STATUS] == 404"
  - name: Cloudflare
    group: connectivity
    url: icmp://1.1.1.1
    interval: 1m
    conditions:
      - "[CONNECTED] == true"
  - name: Google
    group: connectivity
    url: icmp://8.8.8.8
    interval: 1m
    conditions:
      - "[CONNECTED] == true"
  - name: Quad9
    group: connectivity
    url: icmp://9.9.9.9
    interval: 1m
    conditions:
      - "[CONNECTED] == true"
