---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app navidrome
  namespace: &namespace media
spec:
  targetNamespace: *namespace
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  dependsOn:
    - name: external-secrets-stores
      namespace: base
    - name: rook-ceph-cluster
      namespace: storage
  healthChecks:
    - apiVersion: helm.toolkit.fluxcd.io/v2
      kind: HelmRelease
      name: navidrome
      namespace: media
  components:
    - ../../../../common/volsync
  postBuild:
    substitute:
      APP: *app
      PVC_NAME: navidrome
      VOLSYNC_CAPACITY: 10Gi
      VOLSYNC_SCHEDULE: "36 * * * *"
  path: ./kubernetes/homelab/apps/media/navidrome/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: profmoo-home
    namespace: flux-system
  wait: false
  interval: 30m
  retryInterval: 1m
  timeout: 5m
