---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kube-system
components:
  - ../../common/all-namespaces
resources:
  - ./coredns/ks.yaml
  - ./spegel/ks.yaml
