---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app music-assistant
  namespace: &namespace home-automation
spec:
  targetNamespace: *namespace
  dependsOn:
    - name: external-secrets-stores
      namespace: base
    - name: rook-ceph-cluster
      namespace: storage
  healthChecks:
    - apiVersion: helm.toolkit.fluxcd.io/v2
      kind: HelmRelease
      name: music-assistant
      namespace: home-automation
  components:
    - ../../../../common/volsync
  postBuild:
    substitute:
      APP: *app
      PVC_NAME: music-assistant
      VOLSYNC_CAPACITY: 5Gi
      VOLSYNC_SCHEDULE: "57 * * * *"
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  path: ./kubernetes/homelab/apps/home-automation/music-assistant/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: profmoo-home
    namespace: flux-system
  wait: false
  interval: 30m
  retryInterval: 1m
  timeout: 5m
