---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: lidarr
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn:
    - name: rook-ceph-cluster
      namespace: storage
  # NOTE: More info on this Helm chart here: https://bjw-s.github.io/helm-charts/docs/common-library/
  values:
    controllers:
      lidarr:
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/lidarr
              tag: 3.1.2@sha256:91b053243e34dd405456c9269692195f2c524c4eaa8884d5cfd670449fe584aa
            env:
              LIDARR__APP__THEME: dark
              LIDARR__AUTH__REQUIRED: DisabledForLocalAddresses
              LIDARR__AUTHENTICATION_REQUIRED: DisabledForLocalAddresses
              LIDARR__AUTH__METHOD: External
              LIDARR__AUTHENTICATION_METHOD: External
              LIDARR__LOG__LEVEL: info
              LIDARR__AUTH__APIKEY: "foobarbazfoobarbazfoobarbazfooba"
              LIDARR__SERVER__PORT: &port 80
              TZ: America/New_York
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /ping
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 1Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: false
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 0
    service:
      app:
        controller: lidarr
        ports:
          http:
            port: *port
    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Music torrent manager (admin:admin)
          gethomepage.dev/group: Torrents
          gethomepage.dev/icon: lidarr.png
          gethomepage.dev/name: Lidarr
          gethomepage.dev/widget.type: "lidarr"
          gethomepage.dev/widget.url: "http://lidarr.media.svc.cluster.local:80"
          gethomepage.dev/widget.key: "foobarbazfoobarbazfoobarbazfooba"
        hostnames:
          - "lidarr.drmoo.io"
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
    persistence:
      config:
        existingClaim: lidarr-blockstorage
        globalMounts:
          - path: /config
      media:
        type: nfs
        server: 192.168.8.248
        path: /mnt/vault/media
        globalMounts:
          - path: /data
      tmp:
        type: emptyDir
