---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app jellyfin
  namespace: &namespace media
spec:
  targetNamespace: *namespace
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  dependsOn:
    - name: external-secrets-stores
      namespace: base
    - name: rook-ceph-cluster
      namespace: storage
  healthChecks:
    - apiVersion: helm.toolkit.fluxcd.io/v2
      kind: HelmRelease
      name: jellyfin
      namespace: media
  components:
    - ../../../../common/volsync
  interval: 30m
  path: ./kubernetes/homelab/apps/media/jellyfin/app
  postBuild:
    substitute:
      APP: *app
      PVC_NAME: jellyfin
      VOLSYNC_CAPACITY: 20Gi
      VOLSYNC_SRC_CACHE_CAPACITY: 5Gi
  prune: true
  retryInterval: 2m
  sourceRef:
    kind: GitRepository
    name: profmoo-home
    namespace: flux-system
  timeout: 5m
  wait: false
