---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: spegel
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: spegel
  # Values here: https://github.com/spegel-org/spegel/blob/main/charts/spegel/values.yaml
  values:
    grafanaDashboard:
      enabled: true
      mode: GrafanaOperator
      grafanaOperator:
        matchLabels:
          grafana.drmoo.io/instance: main
    service:
      registry:
        hostPort: 29999
    serviceMonitor:
      enabled: true
    spegel:
      containerdSock: /run/containerd/containerd.sock
      containerdRegistryConfigPath: /etc/cri/conf.d/hosts
