---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: observability
components:
  - ../../common/all-namespaces
resources:
  - ./namespace.yaml
  - ./kube-prometheus-stack/ks.yaml
  - ./logging-operator/ks.yaml
  - ./loki/ks.yaml
  - ./grafana-operator/ks.yaml
  - ./proxmox-exporter/ks.yaml
  # Disabling because I believe the iDRAC exporter is a better choice.
  # There is something wrong/different about the k8s setup.
  # - ./redfish-exporter/ks.yaml
  - ./gatus/ks.yaml
  - ./kromgo/ks.yaml
  - ./unpoller/ks.yaml
  #  - ./smartctl-exporter/ks.yaml
  - ./silence-operator/ks.yaml
  # # Even though it's called 'iDRAC Exporter', it really is a redfish exporter.
  - ./idrac-exporter/ks.yaml
  # Disabling this for now. I'll use the unpoller PDU metrics instead.
  #  - ./snmp-exporter/ks.yaml
  # Disabilng this for now. Need the network card for the UPS, which I don't have yet.
  #  - ./nut-exporter/ks.yaml
