---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: observability
components:
  - ../../common/all-namespaces
resources:
  - ./namespace.yaml
  - ./kube-prometheus-stack/ks.yaml
  - ./logging-operator/ks.yaml
  - ./loki/ks.yaml
  - ./grafana-operator/ks.yaml
  - ./proxmox-exporter/ks.yaml
  # Disabling so this stops crashing constantly.
  # Having trouble with the pod connecting to iDRAC IPs on startup.
  # Have yet to connect it successfully even once.
  # I am able to run the code locally and it connects perfectly OK.
  # There is something wrong/different about the k8s setup.
  # - ./redfish-exporter/ks.yaml
  - ./gatus/ks.yaml
  - ./kromgo/ks.yaml
  - ./unpoller/ks.yaml
  - ./smartctl-exporter/ks.yaml
  - ./silence-operator/ks.yaml
#  - ./nut-exporter/ks.yaml
