---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: navidrome
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  # NOTE: More info on this Helm chart here: https://bjw-s.github.io/helm-charts/docs/common-library/
  values:
    controllers:
      navidrome:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          securityContext:
            runAsUser: 2000
            runAsGroup: 2000
            runAsNonRoot: true
            fsGroup: 2000
            fsGroupChangePolicy: OnRootMismatch
        containers:
          app:
            image:
              repository: ghcr.io/navidrome/navidrome
              tag: 0.60.3@sha256:a5dce8f33304714dd138e870cca0dcab3d937ca236be1a9f2b97da009d1a0048
            resources:
              requests:
                cpu: 100m
              limits:
                memory: 4Gi
            env:
              TZ: America/New_York
              ND_AUTHREQUESTLIMIT: 0
              ND_DATAFOLDER: /config
              ND_ENABLEGRAVATAR: true
              ND_ENABLESHARING: true
              ND_LOGLEVEL: info
              ND_MUSICFOLDER: /data/media/music
              ND_PORT: &port 8080
              ND_PROMETHEUS_ENABLED: true
              ND_REVERSEPROXYUSERHEADER: Remote-User
              ND_REVERSEPROXYWHITELIST: 10.0.0.0/8
              ND_SCANSCHEDULE: "@every 1h"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /ping
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: false
    service:
      app:
        controller: navidrome
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "navidrome.drmoo.io"
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
    persistence:
      config:
        existingClaim: navidrome
        globalMounts:
          - path: /config
      media:
        type: nfs
        server: 192.168.8.248
        path: /mnt/vault/media
        globalMounts:
          - path: /data
            readOnly: true
