---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: sonarr
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn:
    - name: rook-ceph-cluster
      namespace: storage
  # NOTE: More info on this Helm chart here: https://bjw-s.github.io/helm-charts/docs/common-library/
  values:
    controllers:
      sonarr:
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/sonarr
              tag: 4.0.16.2946@sha256:22651c750eedb091f6d76ade95dbecae0eeafe2b55432c3b8d8b042e8745f344
            env:
              SONARR__APP__THEME: dark
              SONARR__AUTH__REQUIRED: DisabledForLocalAddresses
              SONARR__LOG__LEVEL: info
              SONARR__AUTH__APIKEY: "foobarbazfoobarbazfoobarbazfooba"
              SONARR__SERVER__PORT: &port 80
              TZ: America/New_York
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /ping
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 1Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: false
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 0
    service:
      app:
        controller: sonarr
        ports:
          http:
            port: *port
    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: TV series torrent manager (admin:admin)
          gethomepage.dev/group: Torrents
          gethomepage.dev/icon: sonarr.png
          gethomepage.dev/name: Sonarr
          gethomepage.dev/instance: homepage-internal
          gethomepage.dev/widget.type: "sonarr"
          gethomepage.dev/widget.url: "http://sonarr.media.svc.cluster.local:80"
          gethomepage.dev/widget.key: "foobarbazfoobarbazfoobarbazfooba"
        hostnames:
          - "sonarr.drmoo.io"
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
    persistence:
      config:
        existingClaim: sonarr-blockstorage
        globalMounts:
          - path: /config
      media:
        type: nfs
        server: 192.168.8.248
        path: /mnt/vault/media
        globalMounts:
          - path: /data
      tmp:
        type: emptyDir
