---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: games
components:
  - ../../common/all-namespaces
resources:
  - ./namespace.yaml
  - ./minecraft/1/ks.yaml
  - ./minecraft/2/ks.yaml
  - ./minecraft/3/ks.yaml
  - ./minecraft/mc-router/ks.yaml
