---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/monitoring.coreos.com/podmonitor_v1.json
apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  name: minecraft-1
spec:
  selector:
    matchLabels:
      app.kubernetes.io/instance: minecraft-1
  podMetricsEndpoints:
    - port: metrics
      path: /metrics
      interval: 30s
