---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app qbittorrent-exporter
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      qbittorrent-exporter:
        containers:
          app:
            image:
              repository: ghcr.io/martabal/qbittorrent-exporter
              tag: v1.13.2@sha256:a5e941c6071dd9c15a76ad3855c9ee29f7944491acfb32cacc6bfaae4571b739
            env:
              QBITTORRENT_BASE_URL: http://qbittorrent.media.svc.cluster.local:8080
              QBITTORRENT_USERNAME: "admin"
              QBITTORRENT_PASSWORD: "adminadmin"
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 128Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
    service:
      app:
        controller: *app
        ports:
          http:
            port: 8090
    serviceMonitor:
      app:
        serviceName: *app
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 30s
            scrapeTimeout: 10s
