---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app idrac-exporter
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      idrac-exporter:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          idrac-exporter:
            image:
              repository: docker.io/mrlhansen/idrac_exporter
              tag: 2.2.0@sha256:16275f896172767fde9664d3d0785678e69eb2b96d36127905c736be210d3da3
            command:
              - /app/bin/idrac_exporter
              - --config=/config/config.yaml
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
      priorityClassName: high-priority
    service:
      app:
        controller: *app
        ports:
          metrics:
            port: 9348
    serviceMonitor:
      app:
        serviceName: *app
        endpoints:
          - interval: 2m
            path: /metrics
            port: metrics
            scheme: http
            scrapeTimeout: 60s
            params:
              target: ["192.168.1.187"]
          - interval: 2m
            path: /metrics
            port: metrics
            scheme: http
            scrapeTimeout: 60s
            params:
              target: ["192.168.1.120"]
    persistence:
      config:
        type: configMap
        name: idrac-configmap
        globalMounts:
          - path: /config/config.yaml
            subPath: config.yaml
            readOnly: true
